[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cryptography = "~=41.0.0"
pyperclip = "~=1.8.0"

[dev-packages]
pytest = "~=7.0.0"

[requires]
python_version = "3.12"